// Font families
@each $name, $family, $family-alt in $font-families {
    .text-#{$name} {
        font-family: $family, $family-alt;
    }
}

// Font sizes
@each $name, $font-size in $font-sizes {
    .text-#{$name} {
        font-size: $font-size;
    }
}

// Colors
@each $name, $color, $font-color in $palette {
    .text-#{$name} {
        color: $color !important;
    }

    .bg-#{$name}-20 {
        background-color: rgba($color, .20) !important;
    }

    .bg-#{$name}-33 {
        background-color: rgba($color, .33) !important;
    }

    .bg-#{$name}-50 {
        background-color: rgba($color, .50) !important;
    }

    .bg-#{$name}-70 {
        background-color: rgba($color, .70) !important;
    }

    .bg-#{$name}-80 {
        background-color: rgba($color, .80) !important;
    }

    .bg-#{$name} {
        background-color: $color !important;
    }

    .btn-#{$name} {
        background-color: $color !important;
        color: $font-color !important;

        &:hover,
        &:focus,
        &.active {
            background-color: darken($color, 10%) !important;
        }

        &.static {
            background-color: $color !important;

            &:hover,
            &:focus,
            &.active {
                background-color: $color !important;
            }
        }
    }

    .border-#{$name}-25 {
        border-color: rgba($color, .25) !important;
    }

    .border-#{$name}-50 {
        border-color: rgba($color, .50) !important;
    }

    .border-#{$name} {
        border-color: $color !important;
    }
}

.border-thin {
    border-width: .25px !important;
}

.border-thick {
    border-width: 2px !important;
}